.imagens {
    width: 300px;
    border-radius: 10%;
}

.esconder {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.mostrar {
    opacity: 1;
    max-height: 500px;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

#editarModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}